body, html, p, div, h1, h2, h3, h4, h5, h6, ul, li{
    padding: 0;
    margin: 0;
    border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  ol, ul {
      list-style: none;
  }
  .mask{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
  }
  body, html{
    background-color: #f5f5fa;
  }
  a{
    text-decoration: none;
  }
  .clearfix{
    display: block;
    clear: both;
  }
  ::-webkit-scrollbar-track-piece{
    background-color: #fff;
    -webkit-border-radius: 0
}

::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar-thumb{
    height: 50px;
    background-color: #d1d4db;
    -webkit-border-radius: 5px
}

::-webkit-scrollbar-thumb:hover{
    height: 50px;
    background-color: #bfc1c9;
    -webkit-border-radius: 5px
}

::-webkit-scrollbar-track-piece{
    background: #f8f9fa
}